body
{
  /* padding-top: 0.1em; */

}

#Title{
	padding-top: 32px;
	padding-bottom: 32px;
	margin-bottom: 0;
	position: relative;
  
}


#H1-Title{
	/* padding:5px 5px 5px 5px; */
	letter-spacing: .15em;
	text-indent: 2.25em;

}

#NavBar{
	padding-left: 92px;
	padding-right: 92px; 
	
}







